Options FollowSymLinks

RewriteEngine On
RewriteBase /pruebas/

RewriteCond %{REQUEST_URI} ^(.*)/(.*)/(.*).htm$
RewriteRule ^(.*)/(.*)/(.*).htm$ index.php?cat=$1&sub=$2&prod=$3 [L]

RewriteCond %{REQUEST_URI} (.*)/(.*)/
RewriteRule ^(.*)/(.*)/$ index.php?cat=$1&sub=$2 [L]

RewriteCond %{REQUEST_URI} (.*)/
RewriteRule ^(.*)/$ index.php?cat=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

